/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Start Scene Styles */
#start-scene {
    text-align: center;
}

#start-scene h1 {
    font-size: 2.5rem;
    color: #ff6384;
}

#start-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ff6384;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#start-button:hover {
    background-color: #ff4d6a;
    transform: scale(1.1);
}

/* Game Container */
.hidden {
    display: none;
}

#game-container {
    width: 100%;
    max-width: 600px;
    height: 800px;
    border: 2px solid #000;
    background: #aaf;
    position: relative;
}